* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    min-height: 100vh;
    color: white;
    text-align: center; 
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.background-one {
    background: url("./ocean-over.jpg");
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll {
    background: rgb(52, 115, 170);
    background-attachment: scroll;
}

.background-two {
    background: url("./ocean-under.jpg");
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}