* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(254, 250, 224);
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    background: rgb(112, 163, 115);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .10);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

nav li {
    display: inline-block
}

nav a {
    color: rgb(40, 54, 24);
    text-decoration: none;
    display: block;
    padding: .75em 1.75em;
}

nav li:hover {
    background: rgb(212, 163, 115);
}

nav li:hover .menu-sub {
    display: block;
    background: rgb(212, 163, 115);
}

.menu-sub {
    position: absolute;
    display: none;
}

.menu-sub li {
    display: block;
}

.menu-sub li:hover {
    background: rgb(188, 108, 37);
    color: white;
}
